@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Mogra', cursive;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.navbar {
    background: white;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
    width: 100%;
}

.navbar-brand {
    font-size: 3rem;
}

.img-laptops {
    width: 40%;
}

#btnPayDebt, #laptop_card, #loanAlert, #txtDebt {
    display: none;
}

.imgSelectedLaptop {
    width: 40%;
}

.topRowCards .card {
    width: 100%;
    height: 100%;
}

.topRowCards .card  button{
    margin-bottom: 0;
}